&{
    .site-header {
        h2 {
        }
    }
  
    .site-content {
        height: 100%;
        display: grid;
        grid-template-columns: auto 365px 627px auto;
        grid-template-rows: 100%;
  
        .simulation-container {
            grid-column-start: 2;
            
            .board-container {
            }
        
            .simulation-controls-container {
            }
        }
  
        .interaction-container {
            grid-column-start: 3;
            height: 100%;
        }
    }
  }