&{
  display: flex;
  flex-direction: column;

  .site-header {
    padding: 10px 0px;
    border-bottom: solid 1px black;
    
    h2 {
      margin: 0px 0px 0px 20px;
      text-align: left;
    }
  }
  
  .board-container {
    padding: 20px;
  }

  .simulation-controls-container {
    width: 100%;
    border: solid 1px black;
  }

  .interaction-container {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    height: 100%;
  }
}