.sudoku-board {
    $board-width: 325px;
    width: $board-width;
    height: $board-width;
    background-color: #264653;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
