<%= stylesheet_link_tag 'structure' %>
<html>
  <body>
    <div id="page-content">
      <div id="content-container" class="no-pad">
        <div id="sudoku-board-container" class="square-content">
          <div id="sudoku-board"></div>
        </div>
        <div id="saga-controls-container"></div>
      </div>
      <div id="editor-container" class="no-pad">
        <div id="editor"></div>
      </div>
    </div>
  </body>
</html>