&{
    .site-header {
        h2 {
            margin: 0 20%;
        }
    }

    .site-content {
        display: flex;
        align-items: flex-start;
        margin: 0 20% ;

        .info-container {
            display: block;
            
            .output-container {
                width: 100%;
            }
        }

        .interaction-container {
            display: block;
            width: 100%;
        }
    }
}