&{
    .site-header {
      padding: 10px 0px;
      border-bottom: solid 1px black;
      
      h2 {
        margin: 0px 0px 0px 20px;
        text-align: left;
      }
    }

    .site-content {
      flex: 1;
      display: block;
      height: 100%;
  
      .simulation-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        display: block;
        width: 100%;

        .board-container {
          margin: 20px;
        }
    
        .simulation-controls-container {
          display: block;
          height: 100px;
          width: 100%;
          border: solid 1px black;
        }
      }
    
      .interaction-container {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }
}