.sudoku-board {
    width: 400px;
    height: 400px;
    outline: solid 4px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sudoku-section {
    width: 33.333%;
    flex-grow: 1;
    outline: solid 2px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sudoku-cell {
    width: 33.333%;
    height: 33.333%;
    outline: solid 1px black;
    flex-grow: 1;
    font-size: x-large;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}