html, body
{
    margin: 0px;
    padding: 0px;
}

nav
{
    margin: 0 0 20px 0;
    padding: 0px;
    top: 0;
    height: 40px;
    width: 100%;
    display: block;
    border-bottom: solid 1px grey;
    -webkit-box-shadow: -6px 5px 19px #000000;
       -moz-box-shadow: -6px 5px 19px #000000;
            box-shadow: -6px 5px 19px #000000;
}

nav h2
{
    margin: 0px;
    padding: 0px;
}

#page-content
{
    width: 650px;
    margin: 0 auto;
}

#main-content-container
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    margin: 20px auto;
}

#sudoku-sidepane
{
    width: 33%;
    height: 100%;
    display: inline-block;
    border: solid 1px black;
    order: 2;
}

#sudoku-board 
{
    display: inline-block;
    width: 66%;
    height: 100%;
    border: solid 2px black;
    order: 1;
}

.grid
{
    margin: 0;
    padding: 0;
    height: 33%;
    width: 33%;
    outline: solid 6px black;
    display: inline-block;
}

.cell
{
    margin: 0;
    padding: 0;
    height: 33%;
    width: 33%;
    outline: solid 1px black;
    display: inline-block;
    outline-offset: -8px;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
}

#editor-container
{
    width: 100%;
    height: 400px;
    margin: 0 auto;
}

#editor-controls
{
    width: 100%;
    height: 30px;
    border: solid 1px black;
    background-color: darkorange;
}

.control-block
{
    height: 50%;
    width: 100%;
}

.control-block h3
{
    text-align: center;
    margin: 0;
    border: solid 2px black;
}

.control-div
{
    width: 100%;
    padding: 15px 0 15px 0;
    height: 30px;
}

.control-div label
{
    text-align: left;
}

.control-div input
{
    float: right;
}

#editor 
{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 12pt;
}

#run-button
{
    float: right;
    height: 40px;
    width: 100px;
    font-weight: bold;
}

.submit-button {
    border-radius: 3px;
    color: white;
    border-color: #4CAF50;
    background-color: #4CAF50; /* Green */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.submit-button:hover {
    background-color: white; /* Green */
    color: #4CAF50;
}

#clear-editor-button
{
    float: left;
}

.nav-link
{
    float: right;
}

.nav-link div
{

}

.editor-control
{
    height: 100%;
    line-height: 25px;
    margin: 0 10px;
    display: inline-block;
}

.editor-control label
{
    font-weight: bold;
}

.editor-control input[type=checkbox]
{
}

.right
{
    float: right;
}

.left
{
    float: left;
}


















  #chatroom-maker-container {
      width: 600px;
      margin: 300px auto 0 auto;
  }
  
  #logo {
      width: 100%;
      
  }
  
  #chatroom-name-input {
      padding-left: 10px;
      height: 35px;
      font-size: 18pt;
      width: 74%;
  }
  
  #chatroom-create-button {
      width: 25%;
      height: 35px;
      margin-left: -5px;
      border: none;
      background-color: #92D050;
      color: white;
      font-weight: 900;
      position: relative;
      top: -2px;
  }
  
  #chat-bar {
      height: 300px;
      position: fixed;
      bottom: 0px;
      width: 100%;
  }
  
  .chat-window {
      border: solid 1px black;
      width: 250px;
      height: 100%;
      bottom: 0px;
      margin-right: 10px;
      position: relative;
      float: right;
  }
  
  .chat-header {
      height: 10%;
      border-bottom: solid 1px black;
      font-size: 22px;
      color: black;
      font-weight: 400;
  }
  
  .chat-title {
      padding-left: 5px;
      overflow: hidden;
      width: 85%;
      height: 100%;
  }
  
  .chat-close {
      width: 14%;
      height: 100%;
      font-weight: bold;
      display: block;
      float: right;
      text-align: center;
      font-size: 30px;
      cursor: pointer;
  }
  
  .chat-body {
      height: 80%;
      background-color: whitesmoke;
      overflow-y: auto;
  }
  
  .chat-controls {
      width: 100%;
      height: 9%;
      border-top: solid 1px black;
  }
  
  .chat-input {
      height: 100%;
      width: 75%;
      padding: 5px;
      border: none;
  }
  
  .chat-send-button {
      width: 25%;
      background-color: #a0c974;
      color: white;
      border: none;
      height: 100%;
  }
  
  .local-message {
      border-left: solid 6px #a0c974;
      margin-bottom: 5px;
      float: left;
      width: 65%;
      padding: 5px;
      border-bottom: solid 1px white;
  }
  
  .external-message {
      border-right: solid 6px #36C3E0;
      margin-bottom: 5px;
      float: right;
      width: 65%;
      padding: 5px;
  }