
$mobile-min-break: 480px;
$tablet-min-break: 768px;
$desktop-min-break: 1024px;

.app {
  @import './styles/mobile.scss';

  @media (min-width: $tablet-min-break) {
    @import './styles/tablet.scss';
  }

  @media (min-width: $desktop-min-break) {
    @import './styles/desktop.scss';
  }
}